:root {
  --height: 55px;
}

#Header {
  position: fixed;
  top:  0px;
  left: 0px;

  width: 100vw;
  height: var(--height);

  background-color: rgb(45, 143, 255);

  z-index: 1;
}

#Header_Button{
  max-width: 150px;
  min-width: fit-content;
  width: 20vw;
  height: var(--height);

  color: rgb(255, 255, 255);

  border-radius: 0px;
  border: 3px dotted transparent;
}
#Header_Button:hover {
  background-color: rgb(0, 98, 209);
  border: 3px dotted rgb(255,255,255);
}


#Header_space {
  height: var(--height);
}

@media screen and (max-width: 400px) {
  #Header_Button p {
    overflow: hidden;
    font-size: 0px;
  }
}