#main {
  width: 90%;
  min-height: 90vh;

  margin-top: -8px;
  margin-left: 5%;

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: aliceblue;
}